<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-MAT</title>

    <link rel="stylesheet" href="/public/css/adminpg.css">

</head>

<body>

    <div class="topbar">
        <div class="mat">MyMess</div>
        <button class="logout-button">Logout</button>
    </div>

    </div>

    <div class="welcome">
        Welcome Admin
    </div>

    <div class="dashboard">
        <a href="studentlist.html"><button>See Student List</button></a>
        <a href="attendance.html"><button>Mark Attendance</button></a>
        <a href="Bill.html"><button>See Fee Defaulters</button></a>
        <a href="messMenu.html"><button>Edit Menu</button></a>
    </div>

    <div class="dashboard secondary">
        <a href="update.html"><button>Update Notice</button></a>
    </div>

</body>

</html>