<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>MY Mess</title>
  <link rel="stylesheet" href="/public/css/bill.css">
</head>
<body>
  <div class="mymess">MyMess</div>
  <div class="destination"><p>the #1 destination for all your mess needs</p></div>
  <button class="logout">Logout</button>
  <div class="search-ID">
    <form action="post">
    <label for="studentID"></label>
    <input type="text" id="studentID" name="studentID" placeholder="Search by student ID">
    </form>
  </div>
  <button class="search">Search</button>
  <table>
    <tr>
      <th rowspan="2">SI.No</th>
      <th rowspan="2">Student Name</th>
      <th rowspan="2">ROLL NO</th>
      <th colspan="3">December-2025</th>
      <th rowspan="2">Due</th>
    </tr>
    <tr>
      
      <th>Days</th>
      <th>Bill Amt.with Maintain</th>
      <th>Paid</th>
    </tr>
    </tr>
      <td>1</td>
      <td>Banothu Bindhu Madhavi</td>
      <td>24SS1A0105</td>
      <td>25</td>
      <td>2081.25</td>
      <td>8253</td>
      <td>2736.75</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Chelukula Akshitha</td>
      <td>24SS1A0107</td>
      <td>24</td>
      <td>1938.75</td>
      <td>9000</td>
      <td>2082</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Chinthala Mamatha</td>
      <td>24SS1A0109</td>
      <td>25</td>
      <td>1938.5</td>
      <td>2305</td>
      <td>12736.75</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Jadi Sai Harithi</td>
      <td>24SS1A0115</td>
      <td>30</td>
      <td>2437.50</td>
      <td>9298</td>
      <td>2548</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Vadde Shravani</td>
      <td>24SS1A0160</td>
      <td>23</td>
      <td>2081.25</td>
      <td>8253</td>
      <td>2736.75</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Utkuri Akashay</td>
      <td>24SS1A0422</td>
      <td>25</td>
      <td>2081.25</td>
      <td>8253</td>
      <td>2736.75</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Bokinala manasvi</td>
      <td>24SS1A0433</td>
      <td>25</td>
      <td>2081.25</td>
      <td>8253</td>
      <td>2736.75</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Ganta Sai Varsha</td>
      <td>24SS1A0457</td>
      <td>25</td>
      <td>2081.25</td>
      <td>8253</td>
      <td>2736.75</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Ganta Sai Varsha</td>
      <td>24SS1A0402</td>
      <td>23</td>
      <td>2081.25</td>
      <td>8253</td>
      <td>2736.75</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Dandem Harini</td>
      <td>24SS1A0403</td>
      <td>25</td>
      <td>1938.5</td>
      <td>8253</td>
      <td>1273.75</td>
    </tr>
  </table>
</body>


</html>