<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-MAT</title>
    <link rel="stylesheet" href="/public/css/messmenu.css">
</head>
<body>
   <div class="mat">MyMess</div>
    <div class="destination"><p>the #1 destination for all yours mess needs</p></div>
    <div class="logout"><button class="logout-button">Logout</button></div>
        <div class="menu"><h1>Edit Menu Here</h1></div>
        <div class="mealMenu">
            <label for="selection">select an option:</label>
        <select name="meal">
            <option value="">--select--</option>
            <option value="breakfast">BREAKFAST</option>
            <option value="lunch">LUNCH</option>
            <option value="dinner">DINNER</option>
        </select>
        </div>
            <table  >
                <tr ><th class="red-header">DAY</th>
                <th class="red-header">BREAKFAST</th>
                <th class="red-header">LUNCH</th>
                <th >DINNER</th></tr>
                <tr>
                <td>Sunday</td>
                <td>puttu,kadala</td> 
                <td>porotta,beef</td>   
                <td>biryani</td> </tr>
                <tr>
                <td>monday</td>   
                <td>idli chutney</td>
                <td>oonu,fish curry,soyabean</td>   
                <td>porotta,chicken curry</td> 
                </tr>
                <tr> 
                    <td>Tuesday</td>
                    <td>puttu,pazham</td>
                <td>oonu,egg,mathan payar</td>   
                <td>chicken kuzhimanthi</td> </tr> 
                <tr>
                     <td> Wednesday</td>
                     <td>Dosa,samber</td>
                <td>oonu,samber,fish curry</td>   
                <td>poori,green peas</td> 
                </tr> 
               <tr>
                <tr>
                     <td>Thursday</td>
                     <td>appam,kadal</td>
                <td>oonu,paripp,egg burji</td>   
                <td>egg,idiyappam,horlics</td> 
                </tr>
                <td>Friday</td>
                <td>bread</td>
                <td>oonu,samber,payar</td>   
                <td>appam,veg kuruma</td> 
                </tr> 
                <tr>
                    <td>Saturday</td>
                     <td>bread,jam</td>
                <td>sadya,payasam</td>   
                <td>appam,veg kuruma</td> 
                </tr> 
            </table>
    </body>
</html>