<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-MAT</title>
    <link rel="stylesheet" href="/public/css/update.css">
</head>
<body>
   <div class="mat">MyMess</div>
    <div class="destination"><p>the #1 destination for all yours mess needs</p></div>
    <div class="logout"><button class="logout-button">Logout</button></div>
    <div class="container">UPDATE NOTIFICATION</div>
    <div class="news">
    <form action="post">
       <textarea name="news" rows="5" cols="39">type new news/notification here....</textarea>
    </form></div>
    <button class="notice">Update Notice</button>
</body>
</html>