@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 * {
     font-family: "Roboto";
 }

 body {
     background-color: #eccdcd;
     margin: 0;
     padding-top: 60px;
 }

 .mymess {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1;
     color: red;
     font-weight: bold;
     font-size: 45px;
     margin: 4px;
     padding: 4px;
     ;
 }

 .logout {
     position: fixed;
     top: 20px;
     right: 20px;
     font-weight: bold;
     font-size: 18px;
     background-color: red;
     color: white;
     padding: 12px 34px;
     border-radius: 4px;
     border: none;
     cursor: pointer;
 }

 .destination {
     position: fixed;
     top: 45px;
     font-size: 10px;
     font-weight: bold;
     margin: 4px;
     padding: 4px;

 }

 .search-ID {
     position: fixed;
     top: 155px;
     left: 550px;

 }

 .search-ID input[type="text"] {
     background-color: rgba(179, 179, 179);
     padding: 11px;
     border: none;
     border-radius: 6px;
     font-size: 16px;
 }

 .search {
     position: fixed;
     top: 155px;
     left: 790px;
     font-size: 14px;
     background-color: red;
     color: white;
     padding: 11px 15px;
     border-radius: 4px;
     border: none;
     cursor: pointer;
 }

 table {
     position: fixed;
     left: 150px;
     right: 200px;
     border-collapse: collapse;
     width: 80%;
     margin: 150px auto;
     text-align: center;
 }

 th,
 td {
     border-left: 2px solid black;
     border-right: 2px solid black;

     padding: 5px;
 }

 th {
     background-color: red;
     color: white;
     font-weight: bold;
     border-bottom: 2px solid black;
 }

 td {
     background-color: rgb(201, 194, 194);
 }