@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.nav .options :nth-child(n) {
    height: 25px;
    background-color: #F15756;
    padding: 10px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.options {
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.dashcontainer {

    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    gap: 25px;
}

.left img {
    width: 100px;
}

.leftitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: auto;
    height: 180px;
    background-color: #F15756;
    color: white;
    cursor: pointer;
}

.leftitem:hover {
    background-color: #f44343;
    transform: scale(1.02);
    transition: ease 0.5s;
}

.greet {
    margin: 50px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 700px;
    background-color: #debdbd;
}

.right h1 {
    color: white;
    font-size: 40px;
}

.card {
    width: 500px;
    background: linear-gradient(to right,
            #e6e6e6 50%,
            #ffd6d6 50%);
    border-radius: 14px;
    padding: 18px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.label,
.value {
    width: 48%;
    padding: 6px 10px;
    border-radius: 6px;
    text-align: center;
    font-size: 24px;
}

.label {
    background-color: #cfcfcf;
    color: #222;
    font-weight: 600;
}

.value {
    background-color: #f3bcbc;
    color: #8b2b2b;
    font-weight: 500;
}

.bill-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    font-size: 24px;
}


.bill-table thead th {
    background-color: #e85b52;
    color: #fff;
    padding: 10px 14px;
    text-align: center;
    font-weight: 600;
}

.bill-table thead th:first-child {
    border-top-left-radius: 6px;
}

.bill-table thead th:last-child {
    border-top-right-radius: 6px;
}

.bill-table tbody td:first-child {
    border-bottom-left-radius: 6px;
}

.bill-table tbody td:last-child {
    border-bottom-right-radius: 6px;
}

.bill-table tbody td {
    background-color: #eeeeee;
    padding: 10px 14px;
    text-align: center;
    border-top: 1px solid #ccc;
    color: #222;
}

.bill-table tbody tr:hover td {
    background-color: #e2e2e2;
}

.right .feedbackArea {
    height: 400px;
    width: 600px;
    background-color: #f79993;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.right .feedbackArea h2 {
    color: white;
    font-size: 32px;
}   

.right .feedbackArea textarea {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    resize: none;
}

.right .defBill {
    /* color: white; */
    font-size: 50px;
    font-weight: bold;
}