@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 * {
     padding: 2px;
     margin: 0;
     font-family: "Roboto";
 }

 body {
     background-color: #eccdcd;

 }

 .logout-button {
     position: fixed;
     top: 10px;
     right: 20px;
     background-color: #e70606;
     font-weight: bold;
     border-radius: 10px;
     color: white;
     border: none;
     padding: 10px 45px;
     font-size: 15px;
 }

 .mat {
     position: fixed;
     font-weight: bold;
     font-size: 45px;
     color: #e70606;
 }

 .destination {
     position: fixed;
     top: 55px;
     font-size: 9px;
 }

 .menu {
     position: fixed;
     top: 110px;
     left: 600px;
 }

 .mealMenu {
     position: fixed;
     top: 160px;
     left: 550px;

 }

 .mealMenu select {
     border: none;
     border-radius: 5px;
     padding: 10px 50px;
     background-color: rgb(179, 176, 176);
     font-size: 20px;
     text-align: left;
 }

 table {
     position: fixed;
     top: 250px;
     left: 400px;
     border-collapse: collapse;
     width: 50%;
     text-align: center;
     border-radius: 5px;
     table-layout: fixed;
 }

 th,
 td {
     border-left: 2px solid black;
     padding: 15px 5px;

 }

 th {
     background-color: #e70606;
     border: none;
     color: white;
     font-weight: bold;
 }

 td {
     background-color: rgb(179, 176, 176);
 }

 .red-header {
     border-right: 2px solid black;

 }