.roundedgeAll {
    border-radius: 10px;
}

.roundedgeleft {
    border-radius: 20px 0px 0px 20px;
}

.roundedgeRight {
    border-radius: 0px 20px 20px 0px;
}

.mainbtn {
    padding: 10px;
    min-width: 150px;
    background-color: red;
    border-style: none;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    text-transform: lowercase;
    cursor: pointer;
    height: 42px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secbtn {
    padding: 10px;
    min-width: 150px;
    color: red;
    border-style: none;
    background-color: white;
    border-radius: 10px;
    font-size: 24px;
    text-transform: lowercase;
    cursor: pointer;
    height: 45px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
.mainbtn:hover {
    cursor: pointer;
    background-color: darkred;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.loginForm {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.loginForm input,
.loginForm select {
    height: 42px;
    padding: 0 14px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #e9e9e9;
    color: #555;
    font-size: 14px;
}

.loginForm input::placeholder {
    color: #777;
}

.password {
    height: 42px;
    width: 260px;
    padding: 0 14px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #e9e9e9;
    color: #555;
    font-size: 14px;
}



.flexColumn{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.heading{
    font-size: 30px;
}

.capsule{
    font-size: 24px;
    background-color: #F15756;
    color: white;
    padding: 10px 14px; 
}