<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-Mat Login</title>
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/public/css/utility.css">
</head>

<body>
    <div class="loginCanvas">
        <div class="loginLeft roundedgeleft"><h1>Welcome to D-Mat</h1>
            <p>An application that aims to digitalize the mess management system and helps make the job easier for
                students.
            </p>
            <div class="tnc flexCenter">

                <input type="checkbox" id="tnc" name="tnc" />
                <label font-size="10px" for="tnc">I have read and agreed to all the Terms & Conditions</label>
            </div>
            <a class="mainbtn" href="/views/student/login.html">Get Started</a>
        </div>
        <div class="loginRight roundedgeRight">
            <img src="/src/images/jntulogo.png" alt="jntulogo">
            <h1>D-Mat</h1>
            <h2>Digitalized Mess Activity Tracker</h2>
        </div>
    </div>
</body>

</html>