<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-Mat Login</title>
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/public/css/utility.css">
</head>

<body>
    <div class="loginCanvas">
        <div class="loginLeft roundedgeleft">
            <form class="loginForm">
                <select>
                    <option selected disabled>select hostel mess</option>
                    <option>Pranahitha</option>
                    <option>Krishna</option>
                    <option>Maner</option>
                </select>

                <input type="text" placeholder="student ID">

                <select>
                    <option selected disabled>department</option>
                    <option>CSE</option>
                    <option>CSM</option>
                    <option>CSC</option>
                    <option>EEE</option>
                    <option>ECE</option>
                    <option>ME</option>
                    <option>CE</option>
                </select>

                <input type="date">

                <a class="mainbtn" href="/views/student/password.html">next</a>
            </form>
        </div>
        <div class="loginRight roundedgeRight">
            <img src="/src/images/jntulogo.png" alt="jntulogo">
            <h1>D-Mat</h1>
            <h2>Digitalized Mess Activity Tracker</h2>
        </div>
    </div>
</body>

</html>