<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-Mat Login</title>
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/public/css/utility.css">
</head>

<body>
    <div class="loginCanvas">
        <div class="loginLeft roundedgeleft">
            <h2>Enter Your Password</h2>
            <input class="password" type="password" placeholder="Password">
            <a class="mainbtn" href="/views/student/studentdashboard.html">login</a>
        </div>
        <div class="loginRight roundedgeRight">
            <img src="/src/images/jntulogo.png" alt="jntulogo">
            <h1>D-Mat</h1>
            <h2>Digitalized Mess Activity Tracker</h2>
        </div>
    </div>
</body>

</html>