<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="/public/css/student.css">
    <link rel="stylesheet" href="/public/css/utility.css">
</head>

<body>
    <div class="nav">
        <!-- <img src="src/jntulogo.png" alt="jntulogo"> -->
        <div>
            <h1>D-MAT</h1>
        </div>
        <div class="options">
            <p>Pranahitha Hostel</p>
            <img src="/src/images/settings.svg" alt="settings">
            <img src="/src/images/menu.svg" alt="menu">
        </div>
    </div>
    <div class="greet flexCenter heading">
        <h1>Welcome, MyMessUser!</h1>
    </div>
    <div class="dashcontainer">

        <div class="left">
            <div class="leftitem showProfile roundedgeAll">
                <img src="/src/images/profile.svg" alt="profile">
                View Profile
            </div>
            <div class="leftitem payBill roundedgeAll">
                <img src="/src/images/pay.svg" alt="pay">
                View and Pay Bill
            </div>
            <div class="leftitem feedback roundedgeAll">
                <img src="/src/images/feedback.svg" alt="feedback">
                Feedback
            </div>
            <div class="leftitem rules roundedgeAll">
                <img src="/src/images/rules.svg" alt="rules">
                Rules
            </div>

        </div>
        <div class="right roundedgeAll">
            <h1>Your Current Bill is:</h1>
            <h2 class="defBill capsule roundedgeAll">₹ 1,250</h2>
        </div>
        <script src="/views/student/student.js"></script>
</body>

</html>